@model CGEvents.Models.Ams

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ams</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventGroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventGroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Atime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Atime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DcityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DcityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnArrDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnArrDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnArrTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnArrTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnArrFlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnArrFlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnDepDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnDepDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnDepTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnDepTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnDepFlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnDepFlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelChkIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelChkIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelChkOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelChkOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVisaReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVisaReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtSubmit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtSubmit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAttending)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAttending)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendingOpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendingOpt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFollowupReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFollowupReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsHotelReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsHotelReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTransferReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTransferReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tempemail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tempemail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObflightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObflightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obetd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obetd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obclass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obclass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InflightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InflightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Indate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Indate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inetd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inetd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ineta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ineta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inclass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inclass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Insec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Insec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirTktFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirTktFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNew)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNew)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVisaReqOpt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVisaReqOpt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dessert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dessert)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtModified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtModified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfCoAttendee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfCoAttendee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FdAllergy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FdAllergy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlleryDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlleryDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgendaFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgendaFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IcsFileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IcsFileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndvDeadline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndvDeadline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAttendance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAttendance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventIdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventIdNavigation.EventName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
