@model CGEvents.Models.EventMaster

@addTagHelper *, Kendo.Mvc
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>EventMaster</h4>
<hr />
<style>
    .creative {
        float: left;
        position: relative;
        margin: 0 10px 10px 0;
        padding: 0;
    }

        .creative img {
            width: 110px;
            height: 110px;
        }
    .creative {
        display: block;
        height: auto;
        float: left;
    }
</style>
<div class="row">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">

            <label asp-for="EventName" class="control-label"></label>
            <input asp-for="EventName" class="form-control" />
            <span asp-validation-for="EventName" class="text-danger"></span>
        </div>

        <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
            <label asp-for="EventDispName" class="control-label"></label>
            <input asp-for="EventDispName" class="form-control" />
            <span asp-validation-for="EventDispName" class="text-danger"></span>
        </div>

        <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
            <div class="row ">
                <div class="col-lg-4">

                    <label asp-for="EventDate" class="control-label d-block">Start Date and Time</label>

                    @(Html.Kendo().DateTimePicker().Name("EventDate")
                                        .Max(DateTime.Now.AddMonths(1))
                                        .Value("")
                                        .Events(y =>
                                        {
                                            y.Change("startChange");
                                            y.Open("startOpen");

                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        .HtmlAttributes(new { onkeydown = "javascript:return false;" })

                    )

                    <span asp-validation-for="EventDate" class="text-danger"></span>
                </div>


                <div class="col-lg-4">

                    <label asp-for="EventDateTo" class="control-label d-block ">End Date and Time</label>

                    @(Html.Kendo().DateTimePicker().Name("EventDateTo")
                                        .Value("")
                                        .Min(DateTime.Now.AddMonths(-1))
                                        .Events(y =>
                                        {
                                            y.Change("endChange");
                                            y.Open("endOpen");
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        .HtmlAttributes(new { onkeydown = "javascript:return false;" })
                    )


                    <span asp-validation-for="EventDateTo" class="text-danger"></span>


                </div>

                <div class="col-lg-4">
                    <div class="float-lg-right">

                        <label asp-for="FormDeadline" class="control-label d-block"></label>

                        @(Html.Kendo().DateTimePicker()
                                        .Name("FormDeadline")
                                        .Value("")
                                        .Min(DateTime.Now.AddMonths(-1))
                                        .Events(y =>
                                        {
                                            y.Change("dlChange");
                                            y.Open("dlOpen");
                                        })
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        .HtmlAttributes(new { onkeydown = "javascript:return false;" })

                        )
                        <span asp-validation-for="FormDeadline" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
            <label asp-for="Venue" class="control-label"></label>
            <input asp-for="Venue" class="form-control" />
            <span asp-validation-for="Venue" class="text-danger"></span>
        </div>

        <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
            <script type="text/x-kendo-template" id="template">
                <div class="creative">
                    <img src="/shared/UserFiles/Images/#= filename #" alt="#: filename # image" />
                </div>
            </script>


            <label class="control-label">Upload Creative</label>
            <div id="creatives"></div>
            <h4 style="margin-top: 2em;">Upload Image</h4>
            @(Html.Kendo().Upload()
                                    .Name("files-jpg")
                                    .Async(a => a
                                        .Save("Validation_Save", "Upload")
                                        .Remove("Validation_Remove", "Upload")
                                        .AutoUpload(true)
                                    )
                                    .Events(e => e.Success("onSuccess"))
                                    .Validation(validation => { validation.MaxFileSize(5000); validation.AllowedExtensions(new string[] { ".gif", ".jpg", ".jpeg", ".png" }); })
            )



            <div class="demo-hint">You can only upload <strong>GIF</strong>, <strong>JPG</strong>, <strong>PNG</strong> files.</div>
            <span asp-validation-for="MailSignature" class="text-danger"></span>



        </div>


        <hr />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <hr />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<script>


    $(function () {
        var template = kendo.template($("#template").html());
        var initialFiles;
        
        @*$.ajax({
            url: '@Url.Action("GetFilesInfo","Events")',
            type: "GET",
            data: {eid:1},
            dataType: 'application/json; charset=utf-8',
            success: function (data) {
                var initialFiles = data;
                $("#creatives").html(kendo.render(template, initialFiles));
            }
        });*@




        $.getJSON('@Url.Action("GetFilesInfo","Events")', {
            eid: 1
        })
            .done(function (data) {
                var initialFiles = data;
                //$.each(data.items, function (i, item) {
                //    $("<img>").attr("src", item.media.m).appendTo("#images");
                //    if (i === 3) {
                //        return false;
                //    }
                //});
                $("#creatives").html(kendo.render(template, initialFiles));
            });

       
    });


    function onSuccess(e) {
        if (e.operation == "upload") {
            for (var i = 0; i < e.files.length; i++) {
                var file = e.files[i].rawFile;

                if (file) {
                    var reader = new FileReader();

                    reader.onloadend = function () {
                        $("<div class='creative'><img src=" + this.result + " /></div>").appendTo($("#creatives"));
                    };

                    reader.readAsDataURL(file);
                }
            }
        }
    }


    function startChange() {
        var endPicker = $("#EventDateTo").data("kendoDateTimePicker"),
            startDate = this.value();
        var dlPicker = $("#FormDeadline").data("kendoDateTimePicker");


        if (startDate) {
            startDate = new Date(startDate);
            startDate.setHours(startDate.getHours() + 1);
            //startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
            dlPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#EventDate").data("kendoDateTimePicker"),
            dlPicker = $("#FormDeadline").data("kendoDateTimePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setHours(endDate.getHours() - 1);
            //endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
            dlPicker.max(endDate);
        }
    }

    function dlChange() {
        var startPicker = $("#EventDate").data("kendoDateTimePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setHours(endDate.getHours() - 1);
            //endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }
        function startOpen() { }
        function endOpen() { }
        function dlOpen() { }
</script>
