@model CGEvents.Models.Ams

@{
    ViewData["Title"] = "Edit Invitee - " + Model.EventIdNavigation.EventName;
    ViewData["Action"] = "Index";
    ViewData["EventId"] = Model.EventId;
    ViewData["EventName"] = Model.EventIdNavigation.EventName;
    ViewData["CurrentPage"] = "Edit Invitee";
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row ">
                <div class="col-lg-4">
                    <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
                        <label asp-for="Fname" class="control-label"></label>
                        <input asp-for="Fname" class="form-control" />
                        <span asp-validation-for="Fname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
                        <label asp-for="Lname" class="control-label"></label>
                        <input asp-for="Lname" class="form-control" />
                        <span asp-validation-for="Lname" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
                        <label asp-for="EmailId" class="control-label"></label>
                        <input asp-for="EmailId" class="form-control" />
                        <span asp-validation-for="EmailId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
                        <label asp-for="Company" class="control-label"></label>
                        <input asp-for="Company" class="form-control" />
                        <span asp-validation-for="Company" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="EventId" />
                <input type="hidden" asp-for="EventIdNavigation.EventName" />
                <div class="col-lg-4">
                    <div class="form-group shadow-lg p-3 mb-3 bg-white rounded-CG">

                        <label asp-for="IndvDeadline" class="control-label d-block">Deadline</label>

                        @(Html.Kendo().DateTimePicker().Name("IndvDeadline")
                                            .Value(Model.IndvDeadline)
                                            .Events(y =>
                                            {
                                                //y.Change("startChange");
                                                y.Open("startOpen");

                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })
                                            .HtmlAttributes(new { onkeydown = "javascript:return false;" })

                        )

                        <span asp-validation-for="IndvDeadline" class="text-danger"></span>

                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>

    <a asp-action="Index" asp-route-id="@Model.EventId">Back to  @Model.EventIdNavigation.EventName Invitees List</a>
</div>

<script>
        function startOpen() {
            var startPicker = $("#IndvDeadline").data("kendoDateTimePicker");
            startDate = new Date('@Model.EventIdNavigation.EventDate');
            endDate = new Date('@Model.EventIdNavigation.EventDateTo');
            today = new Date();
            if (startDate && endDate) {
                endDate.setHours(endDate.getHours() - 1);
                startPicker.max(endDate);
                if (today > startDate) {
                    today.setHours(23, 59, 59);
                    if (today > endDate) {
                        startPicker.min(endDate);
                    }
                    else {
                        startPicker.min(today);
                    }
                }
                else  {
                    startPicker.min(startDate);
                }
            }
        }
</script>

